.ordered_links{

  padding-top: 20px;

}

.ordered_links ol li{

  margin:10px 0;
  font-weight: 500;

}

#description-areas .title{

	text-align: center;
	padding-bottom: 40px;
	    margin-bottom: 0px;

}